{
  "extends": "@react-native-community",
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  },
  "no-multi-spaces": [
    "error",
    {
      "exceptions": {
        "VariableDeclarator": true,
        "ObjectExpression": true
      }
    }
  ]
}